<div class="row featurette mt-5">
    <div class="col-md-7">
      <h2 class="featurette-heading">Ristorante Valentino. <span class="text-muted">Italian tradition.</span></h2>
      <p class="lead">Pizzeria Valentino was founded in 1911, when we walked through the neighborghood with our pizza cart and sold slices to customers on the street. Shortly after, we opened our first walk-in store - small but welcoming and cozy.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="https://cdn.pixabay.com/photo/2012/07/19/02/31/pizza-maker-52557_960_720.jpg" data-holder-rendered="true">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Guaranteed quality. <span class="text-muted">That's what we stand for.</span></h2>
      <p class="lead">In the following years, our customer base was growing and so was the amount of pizza we meticulously crafted for them. Despite the bigger quantities, we always held ourself to the highest standards and never sacrificed quality. At Valentino, we always guarantee you the freshest, and carefully picked ingredients.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="https://cdn.pixabay.com/photo/2015/04/03/20/45/pizzeria-705842__340.jpg" data-holder-rendered="true">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Today. <span class="text-muted">New horizons.</span></h2>
      <p class="lead">The world changes and so does Ristorante Valentino. Food delivery has become an important part of our customers' everyday life and therefore we want to give them the opportunity to have their favourite pizza even when staying at home. Therefore we started our own food delivery service - we hope you enjoy it.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="https://cdn.pixabay.com/photo/2020/03/10/13/11/pizzeria-4918997__340.jpg" data-holder-rendered="true">
    </div>
  </div>
  <hr class="featurette-divider">