<h2 class="text-center">Our menu</h2>
<div class="row justify-content-center row-cols-1 row-cols-md-2 row-cols-lg-4">
<div class="col" *ngFor="let dish of dishes ; index as dishId">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{dish.img}}" alt="Card image cap">
  <div class="card-body">
    <a class="card-title third after " routerLink="dishes/{{dishId}}">{{ dish.name }}</a>
    <p class="card-text petText" *ngIf="dish.description">
      Description: {{ dish.description }}
    </p>
  </div>
</div>
<!-- 
 <h3 class="wrapper">
    <img src="{{product.img}}" alt="">
   <a class="first after" routerLink="products/{{productId}}">

     {{ product.name }}

    </a>

 </h3>

 <p *ngIf="product.description">

  Description: {{ product.description }}

</p> -->

</div>
</div>