
<div class="row mt-5">
    <div class="col-6"><figure class="figure">
        <img src="https://cdn.pixabay.com/photo/2016/11/18/14/05/brick-wall-1834784__340.jpg" class="figure-img img-fluid rounded" alt="img1">
      </figure></div>
    <div class="col-6 text-center">
        <h1>Ristorante Valentino</h1>
        <p>At Ristorante Valentino, you will find authentic Italian cuisine. Prepared with the freshest, carefully-picked ingredients, we guarantee our customers a culinaric experience, they will never forget. Ristorante Valentino combines traditional recipes with modern standards to offer you the very best Italian food. </p>
    </div>
</div>
<hr>
<app-product-list></app-product-list>